.child-list {
  padding: 15px 0 0;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(n + 2) {
      margin: 15px 0 0;
    }
  }
  &__input {
    width: 100%;
    max-width: 100%;
    flex: 1;
  }
  &__btn {
    margin: 0 0 0 10px;
  }
}
.child-input {
  border-bottom: solid 1px;
}